// Основні кольори для темної теми (схоже на VS Code)
$background: #1e1e1e;          // Фон сторінки
$background-light: #252526;    // Фон для секцій
$primary: #d4d4d4;            // Основний текст (білий/сірий)
$primary-medium: #a8a8a8;      // Менш яскравий текст
$primary-light: #ffffff;       // Контрастний текст (яскравіший)

$text-primary: #d4d4d4;       // Контрастний текст (яскравіший)
$text-secondary: #8996a3;

// Кольори для "кодової" теми
$keyword: #569cd6;            // Синій (ключові слова, заголовки)
$function: #dcdcaa;           // Жовтий (функції)
$string: #ce9178;             // Помаранчевий (рядки)
$comment: #6a9955;            // Зелений (коментарі)
$constant: #56B6C2; // Бірюзово-синій, як у VS Code для констант


// Додамо "акцентний" колір для виділення
$accent: $keyword;  // Використовуємо той самий синій для акценту
$accent-light: #9cdcfe;