@use './_variables.scss' as vars;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #181818, #1e1e1e);
}

h1, h2 {
  margin-top: 10px;
}

.container {
  padding: 20px;
  margin: 10px auto;
  max-width: 800px;
  background: linear-gradient(180deg, #252526, #2e2e2e);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin: 20px 40px;
  scroll-margin-top: 120px;
}

