@use '../../styles/_variables.scss' as vars;

.skills {
  margin: 0 auto;
  padding: 50px 60px;
  background-color: vars.$background-light; // Світліший фон для секції
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Тінь для контрасту
  color: vars.$text-primary;
  line-height: 1.6;
  max-width: 1200px;
  transition: box-shadow 0.3s ease;

  @media (max-width: 768px) {
    padding: 30px 20px;
  }

  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: vars.$keyword; // Колір заголовка (як у VS Code)
  }

  .skills__category {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid vars.$text-secondary;
  }

  .skills__category:last-child {
    border-bottom: none;
  }

  .skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .skills__item {
    display: flex;
    align-items: center;
    gap: 10px;
    background: vars.$background; // Темний фон для карток
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    color: vars.$function; // Колір тексту, як у VS Code для функцій

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
      background: vars.$background-light; // Світліший фон при наведенні
    }
  }

  .skills__icon {
    font-size: 1.5rem;
    color: vars.$constant;
    min-width: 24px;
    height: 24px;
  }
}
