@use '../../styles/_variables.scss' as vars;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: vars.$background-light; /* Темний фон */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Більш виразна тінь */
  padding: 12px 0;
  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease;

  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }

  &:hover {
    background: vars.$background; /* Зміна фону при наведенні */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7); /* Більш виразна тінь */
  }

  .navbar__logo {
    width: 50px;
    height: 50px;
    background: url('/public/images/logo.png') center/cover no-repeat;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 2px solid vars.$accent;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .navbar__menu {
    display: flex;
    gap: 20px;
    list-style: none;

    li a {
      text-decoration: none;
      color: vars.$text-primary;
      font-size: 1rem;
      font-weight: bold;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: vars.$accent; /* Контрастний колір при наведенні */
        cursor: pointer;
      }

      &.active {
        color: vars.$accent;
        border-bottom: 2px solid vars.$accent;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background: vars.$accent;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .navbar__toggle {
    display: none;
    font-size: 1.5rem;
    color: vars.$text-primary;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: vars.$accent;
    }
  }

  @media (max-width: 768px) {
    .navbar__menu {
      position: absolute;
      top: 60px;
      right: 0;
      background: vars.$background;
      flex-direction: column;
      gap: 15px;
      width: 200px;
      padding: 15px;
      display: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      border-radius: 8px;

      li a {
        color: vars.$text-primary;

        &:hover {
          color: vars.$accent;
        }
      }
    }

    .navbar__menu.active {
      display: flex;
    }

    .navbar__toggle {
      display: block;
    }
  }
}
