@use '../../styles/_variables.scss' as vars;

.contacts {
  margin: 40px auto;
  padding: 20px 30px;
  background-color: vars.$background-light; /* Темний фон для секції */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: vars.$text-primary; /* Основний текст */
  line-height: 1.6;
  max-width: 1200px;
  position: relative;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  @media (max-width: 870px) {
    padding: 20px 20px;
  }
  @media (max-width: 420px) {
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: vars.$keyword;
  }

  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @media (max-width: 870px) {
      grid-template-columns: 1fr;
    }
  }

  .contacts__item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: vars.$background;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: rgba(vars.$background-light, 0.6);
      box-shadow: 0 3px 6px rgba(255, 255, 255, 0.15);
    }

    .contacts__icon {
      font-size: 1.4rem;
      color: vars.$constant;
    }

    .contacts__label {
      display: block;
      color: vars.$text-secondary;
      transition: color 0.2s ease;

      @media (max-width: 768px) {
        display: none;
      }
    }

    a {
      color: vars.$constant;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.2s ease;
    }
  }

  .contacts__resume-btn {
    margin-top: 20px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background: vars.$constant;
    color: vars.$background;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.15);

    &:hover {
      background: vars.$keyword;
      box-shadow: 0 3px 7px rgba(255, 255, 255, 0.2);
    }

    .contacts__resume-icon {
      font-size: 1.2rem;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
